# Intro to Pandas Pt. 1

In [1]:
import pandas as pd

## Sacramento processing using Pandas

Tasks
- turn 'zip' into `int`
- turn 'beds' into `int`
- turn 'baths' into `int`
- turn 'sq__ft' into `int`
- turn 'price' into `int`
- turn 'latitude' into `float`
- turn 'longitude' into `float`
- capitalize 'city'
- rename 'sq__ft' to 'sq_ft'
- turn 'sale_date' into date format 'YYYY-MM-DD'

In [2]:
# 1. Load dataset
df = pd.read_csv("Sacramentorealestatetransactions.csv")

In [3]:
df.head()

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
df["street"]

0             3526 HIGH ST
1              51 OMAHA CT
2           2796 BRANCH ST
3         2805 JANETTE WAY
4          6001 MCMAHON DR
              ...
980     9169 GARLINGTON CT
981        6932 RUSKUT WAY
982      7933 DAFFODIL WAY
983       8304 RED FOX WAY
984    3882 YELLOWSTONE LN
Name: street, Length: 985, dtype: object

In [6]:
type(df["street"])

pandas.core.series.Series

In [7]:
df["street"].head()

0        3526 HIGH ST
1         51 OMAHA CT
2      2796 BRANCH ST
3    2805 JANETTE WAY
4     6001 MCMAHON DR
Name: street, dtype: object

In [8]:
# create copy of
df_clean = df.copy()

In [9]:
df_clean == df

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
0,True,True,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...
980,True,True,True,True,True,True,True,True,True,True,True,True
981,True,True,True,True,True,True,True,True,True,True,True,True
982,True,True,True,True,True,True,True,True,True,True,True,True
983,True,True,True,True,True,True,True,True,True,True,True,True
984,True,True,True,True,True,True,True,True,True,True,True,True

### 1. Replacing the double underscore with a single underscore

In [10]:
df_clean.columns

Index(['street', 'city', 'zip', 'state', 'beds', 'baths', 'sq__ft', 'type',
       'sale_date', 'price', 'latitude', 'longitude'],
      dtype='object')

In [11]:
list(df_clean.columns)

['street',
 'city',
 'zip',
 'state',
 'beds',
 'baths',
 'sq__ft',
 'type',
 'sale_date',
 'price',
 'latitude',
 'longitude']

In [12]:
[col.replace("__", "_") for col in df_clean.columns]

['street',
 'city',
 'zip',
 'state',
 'beds',
 'baths',
 'sq_ft',
 'type',
 'sale_date',
 'price',
 'latitude',
 'longitude']

In [13]:
df_clean.columns = [col.replace("__", "_") for col in df_clean.columns]

In [14]:
df_clean.head()

,street,city,zip,state,beds,baths,sq_ft,type,sale_date,price,latitude,longitude
0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768

### 2. Capitalize city

In [15]:
df_clean["city"].str.capitalize()

0           Sacramento
1           Sacramento
2           Sacramento
3           Sacramento
4           Sacramento
            ...
980         Sacramento
981         Sacramento
982     Citrus heights
983          Elk grove
984    El dorado hills
Name: city, Length: 985, dtype: object

In [16]:
df_clean.head()

,street,city,zip,state,beds,baths,sq_ft,type,sale_date,price,latitude,longitude
0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768

Just running the string method does not reassign the values in the 'city' column

In [17]:
df_clean["city"] = df_clean["city"].str.capitalize()

In [18]:
df_clean.head()

,street,city,zip,state,beds,baths,sq_ft,type,sale_date,price,latitude,longitude
0,3526 HIGH ST,Sacramento,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,51 OMAHA CT,Sacramento,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2796 BRANCH ST,Sacramento,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,2805 JANETTE WAY,Sacramento,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,6001 MCMAHON DR,Sacramento,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768

### 3. Convert column types

In [19]:
df_clean.dtypes

street        object
city          object
zip            int64
state         object
beds           int64
baths          int64
sq_ft          int64
type          object
sale_date     object
price          int64
latitude     float64
longitude    float64
dtype: object

In [20]:
type(df_clean["zip"])

pandas.core.series.Series

In [21]:
type(df_clean["zip"][0])

numpy.int64

In [22]:
type(int(df_clean["zip"][0]))

int

All column types were already properly inferred.
What if we wanted though?

In [23]:
df_clean["zip"].astype(str)

0      95838
1      95823
2      95815
3      95815
4      95824
       ...
980    95829
981    95823
982    95610
983    95758
984    95762
Name: zip, Length: 985, dtype: object

In [24]:
df_clean["zip"] = df_clean["zip"].astype(str)

In [26]:
df_clean.dtypes

street        object
city          object
zip           object
state         object
beds           int64
baths          int64
sq_ft          int64
type          object
sale_date     object
price          int64
latitude     float64
longitude    float64
dtype: object

In [28]:
str(df_clean["zip"])

'0      95838\n1      95823\n2      95815\n3      95815\n4      95824\n       ...  \n980    95829\n981    95823\n982    95610\n983    95758\n984    95762\nName: zip, Length: 985, dtype: object'

=> No can do!

In [31]:
df_clean["latitude"].astype(int)

0      38
1      38
2      38
3      38
4      38
       ..
980    38
981    38
982    38
983    38
984    38
Name: latitude, Length: 985, dtype: int64

=> Possible but not useful

### 4. Convert weird date string into 'YYYY-MM-DD' representation

In [32]:
df_clean.dtypes

street        object
city          object
zip           object
state         object
beds           int64
baths          int64
sq_ft          int64
type          object
sale_date     object
price          int64
latitude     float64
longitude    float64
dtype: object

In [35]:
df_clean["sale_date"]

0      Wed May 21 00:00:00 EDT 2008
1      Wed May 21 00:00:00 EDT 2008
2      Wed May 21 00:00:00 EDT 2008
3      Wed May 21 00:00:00 EDT 2008
4      Wed May 21 00:00:00 EDT 2008
                   ...
980    Thu May 15 00:00:00 EDT 2008
981    Thu May 15 00:00:00 EDT 2008
982    Thu May 15 00:00:00 EDT 2008
983    Thu May 15 00:00:00 EDT 2008
984    Thu May 15 00:00:00 EDT 2008
Name: sale_date, Length: 985, dtype: object

In [36]:
pd.to_datetime(df_clean["sale_date"], infer_datetime_format=True)

0     2008-05-21
1     2008-05-21
2     2008-05-21
3     2008-05-21
4     2008-05-21
         ...
980   2008-05-15
981   2008-05-15
982   2008-05-15
983   2008-05-15
984   2008-05-15
Name: sale_date, Length: 985, dtype: datetime64[ns]

In [37]:
df_clean["sale_date"] = pd.to_datetime(df_clean["sale_date"], infer_datetime_format=True)

In [38]:
df_clean.dtypes

street               object
city                 object
zip                  object
state                object
beds                  int64
baths                 int64
sq_ft                 int64
type                 object
sale_date    datetime64[ns]
price                 int64
latitude            float64
longitude           float64
dtype: object

In [40]:
df_clean.head()

,street,city,zip,state,beds,baths,sq_ft,type,sale_date,price,latitude,longitude
0,3526 HIGH ST,Sacramento,95838,CA,2,1,836,Residential,2008-05-21,59222,38.631913,-121.434879
1,51 OMAHA CT,Sacramento,95823,CA,3,1,1167,Residential,2008-05-21,68212,38.478902,-121.431028
2,2796 BRANCH ST,Sacramento,95815,CA,2,1,796,Residential,2008-05-21,68880,38.618305,-121.443839
3,2805 JANETTE WAY,Sacramento,95815,CA,2,1,852,Residential,2008-05-21,69307,38.616835,-121.439146
4,6001 MCMAHON DR,Sacramento,95824,CA,2,1,797,Residential,2008-05-21,81900,38.519470,-121.435768

### 5. Export as csv

In [41]:
df_clean.to_csv("clean_sacramento.csv")

In [42]:
df_clean.to_pickle("clean_sacremento.pkl")

DONE!!!